# ==============================================================================
# DEPENDENCIAS Y COMPILACIÓN (Aplica a Front y Back)
# ==============================================================================
**/node_modules/
**/dist/
**/build/
**/*.tsbuildinfo

# ==============================================================================
# EXPO / METRO (Frontend)
# ==============================================================================
**/.expo/
**/web-build/
**/expo-env.d.ts
**/.metro-health-check*

# Carpetas nativas generadas
**/ios/
**/android/

# ==============================================================================
# VARIABLES DE ENTORNO / SECRETOS (¡Súper importante!)
# ==============================================================================
**/.env
**/.env.local
**/.env.dev
**/.env.production
**/.env.*.local

# ==============================================================================
# CONFIGURACIONES LOCALES / EDITORES
# ==============================================================================
**/.idea/
**/.vscode/

# ==============================================================================
# COMPILACIÓN NATIVA / LLAVES
# ==============================================================================
**/.kotlin/
**/*.orig.*
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision

# ==============================================================================
# ARCHIVOS DE DEBUG Y DEL SISTEMA
# ==============================================================================
**/npm-debug.*
**/yarn-debug.*
**/yarn-error.*
**/.DS_Store
**/*.pem
**/Thumbs.db

# Ignorar archivo de pruebas o temporales sueltos
**/example